# Use root/example as user/password credentials
version: '3.1'

services:

  # database:
  #   image: mysql
  #   # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
  #   # (this is just an example, not intended to be a production configuration)
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root

  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080


  apache:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fluentd-app
    ports:
    - '8081:80'
    volumes:
    - ./src:/var/www/html
    - ./td-agent.conf:/etc/td-agent/td-agent.conf

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: superpass
    command: server --console-address ":9001" /data

volumes:
  minio_storage: {}